:root {
    --my-light: #f4f4f4;
    --my-gray: #474a51;
    --my-black: #000000;
    --my-white: #ffffff;
    --my-light-gray: #e8e8e8;
}

body {
    background: var(--my-light) !important;
}

a {
    color: var(--my-black);
    text-decoration: none;
}

a:hover {
    color: var(--my-gray);
    transition: color .3s ease-in-out;
}

@keyframes arrow {
    0% { left: 0; }
    100% { left: 5px; }
}

.black_label {
    color: var(--my-black)!important;
}

.newses__card {
    background-color: var(--my-white);
    border-radius: 20px;
    padding: 20px;
}

.newses__card .newses__card-desc {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: flex-start;
    padding-right: 20px;
}

.newses__card .newses__card-desc time {
    font-size: 14px;
    color: var(--my-gray);
}

.newses__card .newses__card-desc h1 {
    font-size: 32px;
    margin-bottom: 0;
    color: var(--my-black);
}

.newses__card .newses__card-desc .newses__card-tag {
    font-size: 13px;
    padding: 5px 10px;
    border: 1px solid var(--my-black);
    border-radius: 5px;
    color: var(--my-black);
    align-self: flex-start;
    user-select: none;
}

.newses__card .newses__card-desc img {
    border-radius: 20px;
}

.newses__card .newses__card-desc p {
    color: var(--my-black);
    margin-bottom: 0;
}

.newses__card .newses__card-desc a {
    height: 40px;
    padding: 10px 20px;
    border-radius: 20px;
    background-color: var(--my-black);
    color: var(--my-white);
    display: flex;
    align-items: center;
}

.newses__card .newses__card-desc a:hover {
    background-color: var(--my-gray);
}

.newses__card .newses__card-desc a:hover span.bi-arrow-right-short {
    position: relative;
    animation: arrow 0.2s forwards;
}

.newses__card .newses__card-photo img {
    width: 100%;
    height: auto;
    border-radius: 20px;
}

.newses__pagination {
    width: 100%;
    padding: 20px;
    border-radius: 20px;
    background-color: var(--my-white);
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.newses__pagination a {
    color: var(--my-black);
}

.newses__pagination .newses__pagination-active {
    text-decoration: underline;
}

.participants {
    width: 100%;
    display: flex;
    gap: .5rem;
}

.participants__list {
    height: auto;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.participants__list-card {
    width: 100%;
    background-color: var(--my-white);
    padding: 20px;
    border-radius: 20px;
    box-sizing: border-box;
    display: flex;
    gap: 20px;
    cursor: pointer;
}

.participants__list-card:hover {
    background-color: var(--my-light-gray);
}

.participants__card-image {
    height: fit-content;
}

.participants__card-image img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    object-position: center;
    border-radius: 20px;
}

.participants__card-desc {
    padding: 10px 0;
}

.participants__card-desc h3 {
    font-size: 20px;
    line-height: 20px;
    font-weight: bold;
    color: var(--my-black);
}

.participants__card-desc p {
    line-height: 15px;
    font-size: 15px;
    color: var(--my-black);
    margin: 0;
}

.participants__view {
    height: fit-content;
    position: sticky;
    top: 0;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 20px;
    background-color: var(--my-white);
    display: flex;
    gap: 20px;
}

.participants__view-image img {
    width: 100%;
    border-radius: 20px;
}

.participants__view-desc {
    padding: 20px 0 0 0;
}

.participants__view-desc-block {
    margin-bottom: 20px;
}

.participants__view-desc-block h2 {
    line-height: 24px;
    font-size: 24px;
    color: var(--my-black);
    font-weight: bold;
}

.participants__view-desc-block h4 {
    line-height: 16px;
    font-size: 16px;
    color: var(--my-black);
    font-weight: bold;
}

.participants__view-desc-block ul {
    padding-left: 20px;
}

.participants__view-desc-block li {
    list-style-type: none;
    position: relative;
}

.participants__view-desc-block li:before {
    content: '-';
    position: absolute;
    left: -1em;
    font-size: 1.1em;
}

@media(max-width: 1200px) {
    .index-text h1 {
        font-size: 30px;
    }
}

@media(max-width: 992px) {
    .newses__pagination {
        gap: 20px;
    }

    .newses__card .newses__card-desc {
        padding-right: 0;
    }

    #close_menu_icon {
        color: var(--my-white);
    }

    #close_menu_icon:hover {
        cursor: pointer;
    }

    #menu {
        z-index: 1000;
        overflow-y: auto;
        position: fixed;
        width: 200px;
        left: 0;
        top: 0;
        background-color: var(--my-black);
        gap: 1rem;
        box-sizing: border-box;
        padding: 20px;
        height: 100vh;
        align-items: flex-start;
    }

    #menu_icon:hover {
        cursor: pointer;
    }

    #menu div {
        align-items: flex-start;
        margin: 0!important;
    }

    #menu a,
    #menu span {
        color: var(--my-white);
    }
}

@media (max-width: 450px) {
    #menu {
        width: 100%;
        left: 0;
    }
}
